/* create variables */
:root {
    --bg: #1e1e1e;
    --bg-l: #252525;
    --acc: #3c3c3c;
    --acc-l: #454545;
    --acc-vl: #808080;
    --acc-vl-rgb: 127, 127, 127;
    --text: #dddddd;
    
    --red: rgb(237, 66, 69);
    --red-rgb: 237, 66, 69;
    --gray: rgb(93, 93, 93);
    --gray-rgb: 93, 93, 93;
    --green: rgb(59, 165, 93);
    --green-rgb: 59, 165, 93;
}
/*  
!==============================================================
!        Form Rows
!==============================================================
*/
.form-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.6rem 0;
    justify-content: stretch;
    transition: opacity 0.4s ease;
}
.form-row hr {
    border: none;
    border-left: 1px solid var(--acc-l);
    height: 24px;
    width: 1px;
    margin-left: 0.4rem;
}
/* ! label container */
.form-row > .label-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
}
.form-row > .label-container > label {
    font-weight: 400;
    font-size: small;
    padding: 0.2rem 1rem 0.2rem 0.2rem;
    cursor: pointer;
    text-align: end;
}
/* ! input container */
.form-row > .input-container,
.box-container > .input-container {
    width: 75%;
    flex-shrink: 1;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
    position: relative;
}
.form-row > .input-container > span {
    font-size: 16px;
}
.input-container > span {
    margin: 0 6px;
    opacity: 60%;
}
/* ! master input container */
.input-container-master {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
/*  
!==============================================================
!        General Input Styling
!==============================================================
*/
input, select {
    background: var(--bg-l);
    border: 1px solid var(--acc);
    padding: 0 5px;
    height: 24px;
    border-radius: 3px;
    color: var(--text);
    transition: all 0.2s ease;
    font-size: 13px;
    font-family: 'Fira Code', monospace;
    outline: none;
}
input {
    padding-right: 15px;
}
input.invisible {
    display: none;
}
select {
    padding: 0 1px;
    flex-shrink: 2;
}
option:disabled {
    display: none;
}
/* ! hover/focus effects */
input:hover,
input:focus,
input.fake-hover,
select:hover,
select:focus {
    border-color: var(--acc-vl);
}
/* ! filter styling */
.filter-field {
    margin-left: 0.4rem;
    flex-shrink: 0;
    min-width: 80px;
    max-width: 200px;
    padding-right: 5px;
}
/*  
!==============================================================
!        Input Sizes
!==============================================================
*/
.sizeXS {
    width: 60px;
}
.sizeS {
    width: 90px;
}
.sizeM {
    width: 125px;
}
.sizeL {
    width: 175px;
}
.sizeMAX {
    flex-grow: 1;
}
/* special case: to prevent inputs in adders from being too short */
li .sizeMAX {
    width: 250px;
}
/*  
!==============================================================
!        General Buttons
!==============================================================
*/
button {
    margin-left: 0.4rem;
    padding: 0 0.3rem;
    color: var(--text);
    cursor: pointer;
    position: relative;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
button:not(.form-header) {
    height: 24px;
    width: 24px;
    background: var(--bg-l);
    border: 1px solid var(--acc);
    border-radius: 3px;
    transition: all 0.2s ease;
}
button:not(.form-header):hover,
button:not(.form-header):focus,
button:not(.form-header):active {
    border-color: var(--acc-vl);
}
button:not(.form-header):active {
    background-color: rgba(var(--acc-vl-rgb), 0.3);
}
/* ! different size buttons */
button.max-content {
    width: max-content;
}
/* ! red colored buttons */
button.red {
    color: var(--red);
    border-color: var(--red);
    background: rgba(var(--red-rgb), 0.05);
}
button.red:hover,
button.red:focus {
    background: rgba(var(--red-rgb), 0.1);
}
button.red:active {
    background: rgba(var(--red-rgb), 0.2);
}
button.red-hover:hover,
button.red-hover:focus {
    color: var(--red);
    border-color: var(--red);
}
button.red-hover:active {
    background: rgba(var(--red-rgb), 0.1);
}
/* ! green colored buttons */
button.green {
    color: var(--green);
    border-color: var(--green);
    background: rgba(var(--green-rgb), 0.05);
}
button.green:hover,
button.green:focus {
    background: rgba(var(--green-rgb), 0.1);
}
button.green:active {
    background: rgba(var(--green-rgb), 0.2);
}
button.green-hover:hover,
button.green-hover:focus {
    color: var(--green);
    border-color: var(--green);
}
button.green-hover:active {
    background: rgba(var(--green-rgb), 0.1);
}
/*  
!==============================================================
!        Info Button
!==============================================================
*/
.info-button {
    font-family: Arial;
}
/*  
!==============================================================
!        Clear Button
!==============================================================
*/
.clear-button-container {
    position: relative;
    width: 0;
    display: flex;
    align-items: center;
}
.clear-button-container .clear-button {
    position: relative;
    right: 11px;
    padding: 0;
    margin: 0;
    width: max-content;
    height: max-content;
    background: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: x-small;
    opacity: 50%;
    outline: none;
    transition: all 0.2s ease;
    display: none; /* changed on hover */
}
.clear-button-container .clear-button:hover {
    color: var(--acc-vl);
    opacity: 100%;
}
input:hover ~ .clear-button-container .clear-button,
input.fake-hover ~ .clear-button-container .clear-button,
input:focus ~ .clear-button-container .clear-button,
input.fake-focus ~ .clear-button-container .clear-button,
.clear-button-container:hover .clear-button {
    display: inline;
}
/*  
!==============================================================
!        Delete Item From List Button
!==============================================================
*/
.delete-item-button {
    margin-left: 0.4rem;
    align-self: center;
    color: #999;
}
/*  
!==============================================================
!        Negation Button
!==============================================================
*/
.negation-button {
    margin-left: 0;
    margin-right: 0.2rem;
    width: 20px;
    font-family: monospace;
}
.negation-button.active {
    color: var(--red);
    border-color: var(--red);
    background: rgba(var(--red-rgb), 0.05);
}
.negation-button.active:hover {
    background: rgba(var(--red-rgb), 0.2);
    border-color: var(--red);
}
.negation-button.active:focus {
    border-color: rgba(var(--red-rgb), 0.5);
}
/*  
!==============================================================
!        Collapsible Section
!==============================================================
*/
.collapsible-header > i,
.collapsible-header > span {
    cursor: pointer;
}
.collapsible-header:not(.active) i {
    transform: rotate(-180deg);
}
section.collapsible {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    transition-delay: 0;
    overflow-y: hidden;
}
section.collapsible.active {
    transition: max-height 0.5s ease-in;
    transition-delay: 0.2s;
    max-height: 2500px;
}
/*  
!==============================================================
!        Box Containers
!==============================================================
*/
.box-container {
    border: 1px solid var(--acc);
    border-radius: 0 5px 5px;
    background: #212121;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
    height: max-content;
    transition: all 0.5s ease, border-color 0.2s ease;
    max-width: 100%;
    overflow-x: visible;
    position: relative;
    top: -1px;
}
.box-container > .form-row {
    margin: 0.2rem 0;
}
.box-container > section {
    width: 100%;
}
.box-container > section > .form-row {
    margin: 0.4rem 0;
}
.box-container > .form-row > .label-container,
.box-container > section > .form-row > .label-container {
    width: 35%;
}
.box-container > .form-row > .input-container,
.box-container > section > .form-row > .input-container {
    width: 65%;
}
/* ! section header */
button.form-header {
    background: none;
    border: none;
    color: var(--text);
}
.form-header > h1,
.form-header > h2,
.form-header > h3,
.form-header > h4,
.form-header > h5,
.form-header > h6 {
    display: flex;
    align-items: flex-end;
    width: max-content;
    font-weight: 500;
}
.form-header:not(.collapsible-header) .collapsible-sign {
    visibility: hidden;
}
.form-header i {
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;
    transition-delay: 0.2s;
}
.box-container .form-header {
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0.4rem 0 0.2rem 15%;
    display: flex;
}
.box-container .form-header span {
    margin-right: 0.4rem;
}
.box-container .form-header span:last-of-type {
    margin-right: 2rem;
}
.box-container .form-header > h1 {
    font-size: 16pt;
}
.box-container .form-header > h2 {
    font-size: 15pt;
}
.box-container .form-header > h3 {
    font-size: 14pt;
}
.box-container .form-header > h4 {
    font-size: 13pt;
}
.box-container .form-header > h5 {
    font-size: 12pt;
}
.box-container .form-header > h6 {
    font-size: 11pt;
}
/*  
!==============================================================
!        Text Row in Form
!==============================================================
*/
.form-text {
    margin-left: 10%;
    line-height: 4rem;
    border: 1px solid var(--acc);
    padding: 0.6rem 0.3rem;
}
.form-row:not(.hidden) ~ .form-text.empty-only {
    display: none;
}
/*  
!==============================================================
!        Score Container
!==============================================================
*/
.box-container.score-container {
    margin-bottom: 0;
    width: max-content;
}
.score-container.box-container > .form-row > .label-container {
    width: 6.5ch;
}
.score-container.box-container > .form-row > .input-container {
    width: max-content;
}
/* field size */
.score-container .sizeMAX {
    width: calc(60px + 60px + 6px + 6px + 6.8px); /* range input * 2 + dots margin * 2 + dots width */
}
/* custom very high hr */
.score-container + hr {
    height: unset;
    flex-grow: 1;
}
/*  
!==============================================================
!        Show/Hide Button for Box Containers
!==============================================================
*/
.input-container-master .show-hide-button {
    width: 62px;
    height: max-content;
    margin-left: 0;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    padding: 0.3rem 0;
    display: flex;
    justify-content: space-evenly;
    background: #212121;
    transition: all 0.2s ease, border-radius 0s;
    z-index: 2;
}
.input-container-master .show-hide-button i {
    transition: transform 0.25s ease;
}
/* ! different states for when the box is shown and hidden */
.input-container-master .show-hide-button:not(.active) {
    border-bottom: 1px solid var(--acc);
    border-radius: 3px;
}
.input-container-master .show-hide-button:not(.active):hover,
.input-container-master .show-hide-button:not(.active):focus {
    border-color: var(--acc-vl);
}
.input-container-master .show-hide-button.active::before {
    content: "Hide";
}
.input-container-master .show-hide-button.active i {
    transform: rotate(-180deg);
}
.input-container-master .show-hide-button::before {
    content: "Show";
}
/* ! color box border color on hover */
.input-container-master .show-hide-button.active:hover ~ .box-container {
    border-color: var(--acc-vl);
}
/*  
!==============================================================
!        Floating Info Message Container
!==============================================================
*/
.info-button-container {
    position: relative;
    font-size: 13px;
}
.info-container {
    position: absolute;
    background: var(--bg-l);
    border: 1px solid var(--acc-l);
    border-radius: 5px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px 5px 5px;
}
.info-container::before {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-right-color: var(--acc-l);
    left: -15px;
    top: 15px;
}
.info-container > span.close {
    color: white;
    opacity: 60%;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 3px;
    align-self: flex-end;
    margin-right: 4px;
}
.info-container > span.close:hover {
    opacity: 100%;
}
.info-container > div.info-message {
    width: max-content;
    max-width: 400px;
    height: max-content;
    font-size: 12px;
    line-height: 16px;
}
.info-container > div.info-message * {
    color: lightgray;
}
.info-container ul {
    margin-left: 20px;
}
/* ! tips in info containers */
.info-container code {
    display: inline;
}
.info-container .tip-tip::before {
    content: "Tip:";
    margin-right: 4px;
    font-weight: 700;
    text-decoration: underline;
    color: rgb(67, 144, 233);
}
.info-container .tip-warning::before {
    content: "Warning:";
    margin-right: 4px;
    font-weight: 700;
    text-decoration: underline;
    color: hsl(32, 100%, 60%);
}
/*  
!==============================================================
!        Code Preview
!==============================================================
*/
.code-preview {
    position: absolute;
    top: 0;
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-left: 80px;
    width: calc(100% - 70px);
}
.code-preview::before {
    content: "";
    position: absolute;
    right: -0.5rem;
    height: 100%;
    width: 8ch;
    z-index: 5;
    border-right: 1.2rem solid var(--bg);
    background: linear-gradient(to right, transparent, var(--bg) 95%);
}
.code-preview .label {
    font-size: 13px;
    margin-right: 10px;
    min-width: max-content;
}
.code-preview code.preview-field {
    text-overflow: ellipsis;
    flex-shrink: 1;
    position: relative;
    width: calc(100% - 1rem);
}
.code-preview code.preview-field .info-container {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: max-content;
    height: max-content;
    max-width: 300px;
    min-width: 20px;
    padding: 0.4rem;
    border-color: var(--acc-vl);
    background: #303030;
}
.code-preview code.preview-field .info-message {
    overflow-wrap: normal;
    overflow-x: hidden;
}
.code-preview code.preview-field .info-container::before {
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-right-color: transparent;
    border-bottom-color: var(--acc-vl);
}
/* .code-preview::before:hover ~ code.preview-field > .info-container,  */
.code-preview code.preview-field:hover .info-container {
    display: unset;
}
/*  
!==============================================================
!        Required Form Row Asterisk
!==============================================================
*/
/* required asterisk styling */
.required-asterisk {
    position: absolute;
    right: 0.4rem;
    color: rgb(228, 93, 40);
    cursor: help;
}
/* hide the asterisk when form row is disabled */
.form-row.row-disabled .required-asterisk {
    display: none;
}
/*  
!==============================================================
!        Input Error Styling
!==============================================================
*/
input.error,
select.error,
.filter-field.error {
    color: var(--red);
    border-color: var(--red);
    background: rgba(var(--red-rgb), 0.05);
}
select.error option {
    color: white;
    background: var(--bg-l);
}
input.error ~ .clear-button-container .clear-button {
    color: var(--red);
    opacity: 75%;
}
input.error,
select.error {
    box-shadow: 0 0 4px 1px rgba(var(--red-rgb), 0.375);;
}
/*  
!==============================================================
!        Disabled Row
!==============================================================
*/
/* remove pointer events and make unselectable */
section.section-disabled > .form-row,
.form-row.row-disabled {
    pointer-events: none;
}
/* change the opacity but leave the "why is this disabled?" message at normal opacity */
.form-row.row-disabled > .label-container,
.form-row.row-disabled > .input-container:not(.addlist-input) > *:not(.why-disabled-container),
.form-row.row-disabled > .addlist-input > *:not(.addlist-buttons),                             /* special case for "adder" type row */
.form-row.row-disabled > .addlist-input > .addlist-buttons > *:not(.why-disabled-container),   /* special case for "adder" type row */
section.section-disabled > .form-row > .label-container,
section.section-disabled > .form-row > .input-container {
    opacity: 30%;
}
/* section disabling special rules */
section.section-disabled > *:not(.form-header) .why-disabled-container {
    display: none;
}
section.section-disabled > .form-header > *:not(.why-disabled-container) {
    opacity: 75%;
}
/* ! "Why is this disabled?" message */
.why-disabled-container {
    pointer-events: all;
    opacity: 100%;
    margin-left: 0.4rem;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 11px;
}
.why-disabled-container > span {
    cursor: help;
    color: #aaa;
    width: max-content;
}
.why-disabled-message {
    position: absolute;
    top: calc(100% + 9px);
    right: 50%;
    transform: translateX(50%);
    width: max-content;
    max-width: 250px;
    background: var(--bg-l);
    padding: 8px;
    border: 1px solid var(--acc-l);
    border-radius: 5px;
    font-size: 11px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    display: none; /* changed on an event */
}
.why-disabled-container:hover > .why-disabled-message {
    display: flex;
}
.why-disabled-message::before {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-bottom-color: var(--acc-l);
    top: -15px;
    left: calc(50% - 7px);
}
.why-disabled-message::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 10px);
    width: 20px;
    height: 9px;
    border-radius: 4px 4px 0 0;
}
/*  
!==============================================================
!        Unselectable Elements
!==============================================================
*/
section.section-disabled > .form-row,
.form-row.row-disabled,
.collapsible-header > span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*  
!==============================================================
!        UUID Field Styling
!==============================================================
*/
.uuid-container {
    display: flex;
    border: 1px solid var(--acc-l);
    border-radius: 3px;
    transition: all 0.2s ease;
    width: max-content;
}
.uuid-container:hover,
.uuid-container.fake-hover {
    border-color: var(--acc-vl);
}
.uuid-container:focus-within {
    border-color: var(--acc-vl);
}
.uuid-field {
    border-color: var(--acc-l) !important;
    width: 175px;
}
.uuid-field:nth-of-type(1) {
    border-radius: 3px 0 0 3px;
    border: none;
    padding-right: 5px;
}
.uuid-field:nth-of-type(2),
.uuid-field:nth-of-type(3) {
    border-radius: 0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-right: 5px;
}
.uuid-field:nth-of-type(4) {
    border-radius: 0 3px 3px 0;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.uuid-field:focus {
    box-shadow: none;
}
.uuid-field:focus ~ .clear-button-container .clear-button {
    display: inline;
}
/*  
!==============================================================
!        Vec3 Field Styling
!==============================================================
*/
.vec3-container {
    display: flex;
    border: 1px solid var(--acc-l);
    border-radius: 3px;
    transition: all 0.2s ease;
    width: max-content;
}
.vec3-container:hover,
.vec3-container.fake-hover {
    border-color: var(--acc-vl);
}
.vec3-container:focus-within {
    border-color: var(--acc-vl);
}
.vec3-field {
    border-color: var(--acc-l) !important;
}
.vec3-field:nth-of-type(1) {
    border-radius: 3px 0 0 3px;
    border: none;
    padding-right: 5px;
}
.vec3-field:nth-of-type(2) {
    border-radius: 0;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-right: 5px;
}
.vec3-field:nth-of-type(3) {
    border-radius: 0 3px 3px 0;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.vec3-field:focus {
    box-shadow: none;
}
.vec3-field:focus ~ .clear-button-container .clear-button {
    display: inline;
}
/*  
!==============================================================
!        Range Field Styling
!==============================================================
*/
.input-container .range-field:first-of-type {
    padding-right: 5px;
}
/*  
!==============================================================
!        Time Field Styling
!==============================================================
*/
span.time-display {
    font-size: 11px;
    align-self: flex-end;
    margin: 0 4px 2px 15px;
}
span.time-display-val {
    margin-left: 0;
}
/*  
!==============================================================
!        True/False Field Styling
!==============================================================
*/ 
/*? "fut" means "false/unset/true" */
.fut-field-radio {
    display: none;
}
.fut-field {
    height: 24px;
    width: 32px;
    min-width: 32px;
    border: 1px solid var(--acc);
    background: var(--bg-l);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}
/* ! per-value styling */
.fut-field-f {
    color: var(--red);
    border-radius: 6px 0 0 6px;
}
.fut-field-u {
    font-weight: 700;
    font-size: 13px;
    position: relative;
    right: 1px;
}
.fut-field-t {
    color: var(--green);
    border-radius: 0 6px 6px 0;
    position: relative;
    right: 2px;
}
/* ! hover/focus effects */
.fut-field:hover,
.fut-field:focus {
    z-index: 3;
}
.fut-field-f:hover,
.fut-field-f:focus {
    background: rgba(var(--red-rgb), 0.05);
    border-color: var(--red);
}
.fut-field-u:hover,
.fut-field-u:focus {
    background: rgba(var(--gray-rgb), 0.25);
    border-color: var(--gray);
}
.fut-field-t:hover,
.fut-field-t:focus {
    background: rgba(var(--green-rgb), 0.05);
    border-color: var(--green);
}
/* ! :checked styling */
.fut-field-radio-f:checked ~ .fut-field-f {
    background: var(--red);
    color: white;
    border-color: var(--red);
    border-right-color: transparent;
    z-index: 2;
}
.fut-field-radio-u:checked ~ .fut-field-u {
    background: var(--gray);
    border-color: var(--gray);
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 2;
}
.fut-field-radio-t:checked ~ .fut-field-t {
    background: var(--green);
    color: white;
    border-color: var(--green);
    border-left-color: transparent;
    z-index: 2;
}
/*  
!==============================================================
!        Checkbox Field Styling
!============================================================== 
*/
input.checkbox-field {
    display: none;
}
.checkbox-label {
    width: 24px;
    height: 24px;
    border: 2px solid var(--acc);
    border-radius: 3px;
    background: var(--bg-l);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    overflow: hidden;
}
.checkbox-label i {
    position: relative;
    bottom: -7px;
    font-size: 14px;
    opacity: 0;
    transition: bottom 0.15s ease, opacity 0.15s ease;
}
input.checkbox-field:checked + .checkbox-label i {
    opacity: 1;
    bottom: 0;
}
/*
!==============================================================
!        Color Field Styling
!============================================================== 
*/
input.color-field {
    border: none;
    background: none;
    padding: 0;
    width: 20px;
    height: 24px;
    margin-right: 6px;
    cursor: pointer;
}
/*  
!==============================================================
!        Adder Field Styling
!==============================================================
*/
/* align label to top */
.addlist-label {
    align-self: flex-start;
}
/* reverse flexbox direction */
.input-container.addlist-input {
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
.addlist-input .addlist-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.4rem;
}
/* ! item list styling */
.addlist {
    width: max-content;
    padding: 0.4rem;
    border: 1px solid var(--acc);
    border-radius: 8px;
    list-style: none;
}
.addlist > li {
    margin: 0.3rem 0;
    width: 100%;
}
.addlist > li > div {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.addlist > li:first-of-type {
    margin-top: 0;
}
.addlist > li:not(.no-items-notice):nth-last-of-type(2) {
    margin-bottom: 0;
}
/* ! "no items added yet!" notice */
.addlist .no-items-notice {
    font-size: 11px;
    margin-bottom: 0;
}
.addlist > li ~ .no-items-notice {
    display: none;
}
/* ! "Add item..." button */
.form-row .addlist-input .addlist-button {
    border-radius: 5px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.2rem;
    margin-left: 0;
    outline: none;
}
.addlist-input .addlist-button:hover,
.addlist-input .addlist-button:focus {
    background: var(--bg-l);
}
.addlist-input .addlist-button:active {
    background: #292929;
}
.addlist-button span {
    margin: 0.2rem;
}
.addlist-button .plus {
    font-size: 30px;
    line-height: 24px;
    height: 24px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}
/*  
!==============================================================
!        Sound Field Styling
!==============================================================
*/
.sound-container {
    flex-direction: column;
    align-items: flex-start;
}
.sound-code-preview {
    margin-left: 0;
    position: unset;
}
.sound-code-preview::before {
    content: none;
}
.sound-list > span {
    margin: 0 5px;
}
.sound-list > span:last-of-type {
    display: none;
}
/*  
!==============================================================
!        Particle Field Styling
!==============================================================
*/
.particle-list {
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.particle-radio {
    display: none;
}
.particle-item {
    height: max-content;
    width: 5.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
    margin: 0.2rem;
    border: 1px solid var(--acc);
    border-radius: 3px;
    height: 100%;
    cursor: pointer;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    outline: none;
}
.particle-item img {
    width: 60%;
}
.particle-item code {
    position: relative;
    margin-top: 0.5em;
    padding-top: 0.3em;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid var(--acc);
    text-align: center;
    line-height: 1.25em;
    min-height: calc(3.75em + 0.5em);
}
.particle-item:hover,
.particle-item:focus {
    border-color: var(--acc-vl);
}
.particle-radio:checked + .particle-item {
    border-color: var(--acc-vl);
    background-color: var(--bg-l);
}